<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab='idproducto'>
      <ion-icon name="apps"></ion-icon>
      <ion-label>Producto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="idcontacto">
      <ion-icon name="send"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabnuevo">
      <ion-icon name="send"></ion-icon>
      <ion-label>felipe</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
